@import url("https://rotyflo.github.io/css/terminal.css");

body {
  text-align: center;
}

h1 {
  display: inline-block;
}

button {
  height: 75px;
  width: 75px;
  border: solid black 1px;
  font-size: x-large;
  background-color: white;
}

button:active {
  border-right: 0 solid;
  border-bottom: 0 solid;
  border-top: 2px solid;
  border-left: 2px solid;
}

button:hover {
  background-color: #eeeeee;
}

.calculator {
  border: solid black 1px;
  width: 302px;
  margin: auto;
  margin-top: 30px;
}

#output-container {
  display: flex;
  align-items: center;
  text-align: right;
  font-size: x-large;
  border: solid black 1px;
  height: 75px;
  width: 300px;
}

#output {
  margin: auto;
}

#solve, #clear {
  width: 150px;
}